@page
@model BlazorApp1.Server.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<div class="main">
    <div class="content px-4">
        <h1>This is a test</h1>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}